<div settings-pw-form>
  <fieldset>

    <bg-form-error></bg-form-error>

    <h2 class="u-marginBottom20">Change Password</h2>

    <div class="alert alert--notice" ng-show="showWeakPasswordWarning">
      <p class="alert-text">Before taking further actions, your login password needs to be upgraded. Please upgrade it to a stronger password below.</p>
    </div>

    <div class="formRow standardFormWidth" ng-class="{ 'formRow--error': oldPasswordError }">
      <label>Current Password</label>
      <p class="notice" ng-show="oldPasswordError">Need the current password</p>
      <div class="inputText">
        <input type="password" class="inputText-input" name="oldPassword" placeholder="Enter current password" data-ng-model="settings.local.oldPassword" bg-input-validator />
      </div>
    </div>

    <div class="formRow standardFormWidth" ng-class="{ 'formRow--error': newPasswordError }">
      <label>New Password</label>
      <i class="formRow-icon icon icon--qmark" popover-trigger="mouseenter" popover-placement="right" popover-template="auth/templates/passwordpopover-partial.html"></i>
      <p class="notice" ng-show="newPasswordError">Missing password</p>

      <div class="inputText">
        <input type="password" name="newPassword" class="inputText-input" placeholder="Enter new password" ng-model="settings.local.newPassword" bg-password-strength="passwordStrength" on-password-change="checkStrength(passwordStrength)" bg-input-validator />
      </div>

      <div class="passwordStrength" ng-show="showPasswordStrength()">
        <div class="passwordStrength-indicator">
          <span class="passwordStrength-fill" ng-class="passwordStrength.progress.class"></span>
        </div>
        It would take {{ passwordStrength.crack_time_display }} to crack this password.
      </div>
    </div>

    <div class="formRow u-marginBottom30 standardFormWidth" ng-class="{ 'formRow--error': newPasswordConfirmError }">
      <label>Confirm New Password</label>
      <p class="notice" ng-show="newPasswordConfirmError">Missing password confirmation</p>
      <div class="inputText">
        <input type="password" class="inputText-input" name="newPasswordConfirm" placeholder="Enter new password again" ng-model="settings.local.newPasswordConfirm" bg-input-validator />
      </div>
    </div>

    <div class="formRow u-marginBottom30 standardFormWidth">
      <div class="alert alert--notice">
        <p class="alert-text"><b>Important:</b> Wallet passwords matching the login password will be changed to the new password.</p>
      </div>
    </div>

    <button ng-show="hasChanges()" type="submit" name="savePw" ng-click="savePw()" class="button buttonSubmit">Save Password</button>

  </fieldset>
</div>
