<div>

  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>About BitGo Inc</h1>
            <h2>BitGo is the leading Bitcoin security platform and a pioneer of multi-sig technology.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row">
          <h1>Background</h1>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Solutions</h3>
              <p>Based in Palo Alto, BitGo launched the first ever multi-signature Bitcoin wallet in 2013, and continues to create innovative security services on top of emerging industry standards. The company operates a security-as-a-service platform that powers the industry’s most secure, enterprise Bitcoin wallet with solutions for corporate treasury and key management.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">People</h3>
              <p>BitGo was founded by veterans in online security, digital currency, and financial technology. Investors and advisors include elite Silicon Valley venture capitalists and angels, and Bitcoin industry insiders who have backed successful companies like PayPal, Netscape, Red Hat, Proofpoint, Verisign, Juniper Networks, Yammer, and Tesla.</p>
            </div>
          </div>
        </div>      
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>How BitGo Works</h1>
        </div>
        <div class="row u-marginTop30">
          <h3 class="u-textLeft">Introduction to the BitGo Secure Wallet</h3>
          <div class="whitePaper-text">
            Typical Bitcoin wallets have a single private key, making your Bitcoin susceptible to theft and loss. Our multi-signature technology issues three keys for your wallet, two of which are required to send Bitcoin. Unlike most other Bitcoin companies, BitGo doesn’t have the ability to access your Bitcoin. We only hold one key, which isn’t sufficient to transact on your behalf.
          </div>
          <div class="whitePaper-text">
            You control a second key, and a third key is stored offline as a backup. If a single key is compromised, your Bitcoin can’t be stolen. This makes our wallet virtually hack proof.
          </div>
          <div class="whitePaper-text">
            BitGo requires two-factor authentication and uses enterprise-grade security measures to ensure full protection of your Bitcoin. Read more technical details in the whitepaper authored by BitGo’s CEO about how we use P2SH (BIP 16) to create a multi-signature wallet. A diagram from the whitepaper comparing Bitcoin wallet architectures can be seen below.
          </div>
          <img src="./img/wallet-architecture.jpg" class="walletArchitecture-image"></img>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="{{ TemplatePathPrefix }}/p2sh_safe_address"><button class="button button--xl">BitGo Whitepaper</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>Founding Team</h1>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-1">
            <img src="./img/belshe-biopic.jpg"></img>
            <h3 class="u-pushDown25">Mike Belshe</h3>
            <h4 class="u-textBlue">CEO & Co-founder</h4>
            <p>
              Mike Belshe is a veteran technologist who invented the multi-signature protocols used at BitGo. Prior to BitGo, Mike worked at Google on the founding team of Google Chrome, was the co-inventor and driving force behind SPDY (which has now become HTTP/2.0), and co-founded Lookout Software, an email search company acquired by Microsoft. He holds a C.S. degree from Cal Poly SanLuis Obispo.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4 col-md-offset-2">
            <img src="./img/davenport-biopic.png"></img>
            <h3 class="u-pushDown25">Ben Davenport</h3>
            <h4 class="u-textBlue">CTO & Co-founder</h4>
            <p>
              Ben Davenport is a technology entrepreneur and investor who has been deeply involved with Bitcoin since mid-2011. Prior to BitGo, Ben co-founded Beluga, which was sold to Facebook in 2011 and became Facebook Messenger. Prior to Beluga, Ben worked in engineering at Google and Microsoft, and spent several years doing algorithmic trading at high-frequency firm Hudson River Trading. He holds CS degrees from Princeton and the University of Washington.
            </p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>Learn More</h1>
        </div>

        <div class="row">
          <form name="applyform">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="name" class="inputText-input" placeholder="Name" ng-model="userInfo.name" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="company" class="inputText-input" placeholder="Company" ng-model="userInfo.company" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="industry" class="inputText-input" placeholder="Industry" ng-model="userInfo.industry" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow" ng-class="{ 'formRow--error': emailError }">
                  <p class="notice" ng-show="emailError">Invalid email address</p>
                  <div class="inputText">
                    <input type="email" name="email" class="inputText-input" placeholder="Email Address" ng-model="userInfo.email" bg-input-validator />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="text" class="inputText-input" placeholder="Phone" ng-model="userInfo.phone" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-md-offset-3 hidden-xs hidden-sm">
              <button type="submit" ng-click="onSubmitForm()" class="button u-pullRight">Get In Touch</button>
            </div>
            <div class="col-md-6 col-md-offset-3 hidden-lg hidden-md">
              <button type="submit" ng-click="onSubmitForm()" class="button">Get In Touch</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>

</div>
