<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 u-inline-block">
  <div class="row u-marginTop30">
    <h3 class="u-textLeft">GROW YOUR CAREER WITH US</h3>
    <div class="whitePaper-text">
      At BitGo, our mission is to secure the world’s bitcoin. Our platform is used by some of the largest institutions and enterprises in the bitcoin space today, and our brand is known as the gold standard for security.
    </div>
    <div class="whitePaper-text">
      We have raised $14 million in venture capital financing from some of the top investors in Silicon Valley, New York, and the bitcoin world.
    </div>
    <div class="whitePaper-text">
      Are you passionate about bitcoin? Are you looking to develop your career at a startup that has the vision, team, and financial backing to change the world? If so, consider a career at BitGo.
    </div>
  </div>

  <div class="row u-marginTop30 u-marginBottom30">
    <h3 class="u-textLeft">WHY WORK AT BITGO</h3>
    <div class="whitePaper-text">
      We are growing quickly and looking for world-class talent to join the team! Here are some of the benefits of working at BitGo:
      <ul>
        <li>Comprehensive medical, dental and vision plans</li>
        <li>Competitive compensation and stock options</li>
        <li>Class A office space in Palo Alto</li>
        <li>Free onsite gym membership and office bike rentals</li>
        <li>Catered lunches, fresh snacks and gourmet coffee</li>
        <li>Commuting made easy with company-paid Caltrain passes and MiFi connectivity</li>
        <li>Computer equipment and workplace furniture to suit your needs</li>
        <li>Flexible vacation time</li>
        <li>And more!</li>                  
      </ul>
    </div>
  </div>
</div>
<div class="col-xs-12 col-sm-3 .col-md-offset-1 col-md-3 .col-lg-offset-1  u-marginBottom30">
  <div ng-repeat="(department, listings) in jobsList" class="row u-marginTop30">
    <h3 class="u-textLeft">{{department}}</h3>
    <div class="whitePaper-text" ng-repeat="job in listings">
        <a class="u-textBlue" ng-click="goToJob(job)">{{job.title}}</a>
    </div>
  </div>  
</div>  