<div>
  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>API & Support Pricing</h1>
            <h2>Add support plans to organizations created on BitGo</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row u-marginTop10">
          <div class="apiPricingRow">
            <div class="apiProduct col--threeOfTwelve u-pullLeft"><h4>{{plans.OrgBasicMonthly.prettyName}}</h4><p class="u-noMargin"><span class="apiPrice-small">$</span><span class="apiPrice-large">{{plans.OrgBasicMonthly.cost}}</span></p><p class="u-noMargin">Experiment and build with access to all API endpoints</p><div class="u-marginTop10"><p class="u-noMargin"><a href="https://www.bitgo.com/api">Get Started</a></p></div>
            </div>
            <div class="apiPricingSegment"><h4>Guaranteed API rates*</h4>
              <ul>
                <li>
                  As available
                </li>
              </ul>
            </div>
            <div class="apiPricingSegment"><h4>Support</h4>
              <ul>
                <li>
                  Help Center
                </li>
              </ul>
          </div>
          <div class="apiPricingSegment"><h4>Monthly Uptime%</h4>
            <ul>
              <li>
                No SLA
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment"><h4>Loss Protection**</h4>
            <ul>
              <li>
                Not Included
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="apiPricingRow">
          <div class="apiProduct col--threeOfTwelve u-pullLeft"><h4>{{plans.OrgProMonthly.prettyName}}</h4><p class="u-noMargin"><span class="apiPrice-small">$</span><span class="apiPrice-large">{{plans.OrgProMonthly.cost}}</span></p><p class="u-noMargin">Entry paid tier under our Service Level Agreement</p><div class="u-marginTop10"><p class="u-noMargin"><a href="{{templatePrefix}}/wallet">Sign Up</a></p></div>
          </div>
          <div class="apiPricingSegment"><h4>Guaranteed API rates</h4>
            <ul>
              <li>
                5/sec
              </li>
              <li>
                60/min
              </li>
              <li>
                600/hr
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment"><h4>Support</h4>
            <ul>
              <li>
                Help Center
              </li>
              <li>
                Email Support
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment"><h4>Monthly Uptime%</h4>
            <ul>
              <li>
                99%
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment"><h4>Loss Protection</h4>
            <ul>
              <li>
                Included
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="apiPricingRow">
          <div class="apiProduct col--threeOfTwelve u-pullLeft"><h4>{{plans.OrgBusinessMonthly.prettyName}}</h4><p class="u-noMargin"><span class="apiPrice-small">$</span><span class="apiPrice-large">{{plans.OrgBusinessMonthly.cost}}</span></p><p class="u-noMargin">Enjoy higher request rates and prioritized support</p><div class="u-marginTop10"><p class="u-noMargin"><a href="{{templatePrefix}}/wallet">Sign Up</a></p></div>
          </div>
          <div class="apiPricingSegment"><h4>Guaranteed API rates</h4>
            <ul>
              <li>
                5/sec
              </li>
              <li>
                120/min
              </li>
              <li>
                3000/hr
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment"><h4>Support</h4>
            <ul>
              <li>
                Help Center
              </li>
              <li>
                Email Support
              </li>
              <li>
                Prioritized Email
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment u-noPaddingLeft u-noMarginLeft"><h4>Monthly Uptime%</h4>
            <ul>
              <li>
                99.9%
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment"><h4>Loss Protection</h4>
            <ul>
              <li>
                Included
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="apiPricingRow">
          <div class="apiProduct col--threeOfTwelve u-pullLeft"><h4>{{plans.OrgBusinessPlusMonthly.prettyName}}</h4><p class="u-noMargin"><span class="apiPrice-small">$</span><span class="apiPrice-large">{{plans.OrgBusinessPlusMonthly.cost}}</span></p><p class="u-noMargin">Additional support through an account manager</p><div class="u-marginTop10"><p class="u-noMargin"><a href="{{templatePrefix}}/wallet">Sign Up</a></p></div>
          </div>
          <div class="apiPricingSegment"><h4>Guaranteed API rates</h4>
            <ul>
              <li>
                5/sec
              </li>
              <li>
                120/min
              </li>
              <li>
                3000/hr
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment u-noPaddingLeft u-noMarginLeft"><h4>Support</h4>
            <ul>
              <li>
                Everything in<br>Business
              </li>
              <li>
                White Glove<br>Account &<br>Technical Support
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment u-noPaddingLeft u-noMarginLeft"><h4>Monthly Uptime%</h4>
            <ul>
              <li>
                99.9%
              </li>
            </ul>
          </div>
          <div class="apiPricingSegment"><h4>Loss Protection</h4>
            <ul>
              <li>
                Included
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
          <div class="apiPricingRow">
            <div class="apiProduct col--threeOfTwelve u-pullLeft"><h4></h4><p><span class="apiPrice-custom">{{plans.custom.prettyName}}</span></p><p class="u-noMargin">For large business with custom integrations</p><div class="u-marginTop10"><p class="u-noMargin"><a href="{{templatePrefix}}/wallet">Sign Up</a></p></div>
            </div>
            <div class="apiPricingSegment"><h4>Guaranteed API rates</h4>
              <ul>
                <li>
                  15/sec
                </li>
                <li>
                  600/min
                </li>
                <li>
                  6000/hr
                </li>
              </ul>
            </div>
            <div class="u-noPaddingLeft u-noMarginLeft apiPricingSegment"><h4>Support</h4>
              <ul>
                <li>
                  Everything in<br>Business
                </li>
                <li>
                  White Glove<br>Account &<br>Technical Support
                </li>
              </ul>
            </div>
            <div class="apiPricingSegment u-noMarginLeft u-noPaddingLeft"><h4>Monthly Uptime %</h4>
              <ul>
                <li>
                  99.99%
                </li>
              </ul>
            </div>
            <div class="apiPricingSegment"><h4>Loss Protection</h4>
              <ul>
                <li>
                  Included
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row u-marginTop30">
          <div class="whitePaper-text">
            <span class="u-typography-6">
              All paid tiers get a monthly uptime percentage guarantee based on our <a href="{{ TemplatePathPrefix }}/sla">Service Level Agreement</a>.<br>
              * Higher request rates are available to paid tiers for additional fees. Contact us for a higher request rate.<br>
              ** Up to $250,000 in bitcoin value is covered with the <a href="{{ TemplatePathPrefix }}/insurance">BitGo Bitcoin Loss Protection Program</a>. <br>
            </span>
          </div>
        </div>
        
      </div>
    </div>
  </section>

</div>