<div>
  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Customer Success Case Studies</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row">	
          <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="news-logo" src="./img/magnr_blue_500.png"></img>
          </div>
          <div class="col-sm-24 col-md-8 col-lg-8">
            <a href="https://magnr.com/" target="_blank">
              <h3 class="u-textLeft">Magnr</h3>
	    </a>
            <div class="whitePaper-text">
              Magnr provides the world's first savings accounts for Bitcoin. The unique investment accounts allow savers to earn interest on their Bitcoin holdings. BitGo's wallet platform keeps clients' funds secure in cold storage, protected with multi-signature technology. The full Magnr case study is available for download <a href="{{ TemplatePathPrefix }}/pdf/Magnr-Case-Study.pdf" target="_blank">here</a>.
            </div>
            <div class="whitePaper-text  quote">
              “The safety of our clients’ funds is our number one priority. BitGo's secure wallet and API allow us to innovate without compromising on our high security standards.” - Joe Lee, Magnr CIO
            </div>
          </div>
        </div>
      </div>	
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="news-logo" src="./img/bitcoin-foundation-logo.png"></img>
          </div>
          <div class="col-sm-24 col-md-8 col-lg-8">
            <h3 class="u-textLeft">Bitcoin Foundation</h3>  
            <div class="whitePaper-text">
              BitGo’s industry leading multi-sig wallet combines the ease of use of a web wallet with the security of a cold storage solution, enabling enterprise customers like the Bitcoin Foundation to focus on their business, knowing their funds are safe. The full Bitcoin Foundation case study is available for download <a href="{{ TemplatePathPrefix }}/pdf/Bitcoin-Foundation-Case-Study_Final.pdf" target="_blank">here</a>.
            </div>
            <div class="whitePaper-text  quote">
              “Using BitGo to manage the Foundation’s funds has allowed us to operate more efficiently and with greater transparency. Thanks to BitGo’s use of multi-sig wallets, we’ve also substantially reduced the amount of risk that comes with having single point of failure.” – Patrick Murck, Bitcoin Foundation Executive Director
            </div>  
          </div>
        </div>
      </div>
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="news-logo" class="news-logo" src="./img/bitcoin-shop-inc.png"></img>
          </div>
          <div class="col-sm-24 col-md-8 col-lg-8">
            <a href="http://www.finextra.com/news/announcement.aspx?pressreleaseid=59044" target="_blank">
              <h3 class="u-textLeft">Bitcoin Shop</h3>
            </a> 
            <div class="whitePaper-text">
              Bitcoin Shop (OTCQB: BTCS) operates a universal platform that enables users to engage in the digital currency ecosystem. The company hosts an e-commerce website (www.btcs.com) where consumers can purchase products using Bitcoin, Litecoin and Dogecoin, with a selection of over 2,000,000 items from 85 retailers. Bitcoin Shop is also directly involved in Bitcoin mining has partnered or invested in other Bitcoin-related companies.
            </div>
            <div class="whitePaper-text">
              Read the full case study <a href="{{ TemplatePathPrefix }}/pdf/Bitcoin-Shop-Case-Study.pdf" target="_blank">here</a>.
            </div>
            <div class="whitePaper-text quote">
              “As a public company, both our auditor and our investors need to have confidence in the accuracy of our financial statements. BitGo Enterprise provides us with the robust treasury tools we need to effectively run our business.” - Charles Allen, Bitcoin Shop CEO
            </div>
          </div>
        </div>
      </div>
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <img class="news-logo" class="news-logo" src="./img/binaryFinancial.png"></img>
          </div>
          <div class="col-sm-24 col-md-8 col-lg-8">
            <a href="https://www.cryptocoinsnews.com/bitgo-bitcoin-wallet-introduces-free-services-individuals-major-improvements/" target="_blank">
              <h3 class="u-textLeft">Binary Financial</h3>
            </a>
            <div class="whitePaper-text">
              Binary Financial is a U.S.-based hedge fund focused on the digital currency industry and operated by Managing Partner Harry Yeh. Specializing in large block trades for high net worth clients and institutions, the firm offers over the counter (OTC) trading services to qualified clients, buying and selling thousands of BTC every day across the globe, as well as electronic market making. Binary Financial exclusively uses BitGo® as its multi-sig, institutional Bitcoin wallet platform.
            </div>
            <div class="whitePaper-text">
              Read the full case study <a href="{{ TemplatePathPrefix }}/pdf/Binary-Financial_BitGo-Case-Study-Final.pdf" target="_blank">here</a>.
            </div>
            <div class="whitePaper-text quote">
              “I know that by using BitGo, I have the world’s leading Bitcoin security experts on my side. I take comfort in knowing that our transactions and holdings are always secure.” - Harry Yeh, Binary Financial Managing Partner
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
