<div>

  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>BitGo Enterprise Wallet</h1>
            <h2>Power your business with the leading institutional multi-sig wallet.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row">
          <h1>More than just a wallet</h1>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Treasury Controls</h3>
              <p>Add multiple users and roles to your wallet and set treasury policies like spending limits to protect your funds.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Advanced Security</h3>
              <p>BitGo handles user authentication, fraud detection, and policy verification before co-signing any transaction.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">24x7 Monitoring</h3>
              <p>Get instant alerts for every transaction, track audit logs, and get detailed reports for your bitcoin holdings.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>Best-in-Class Security</h1>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="u-textCenter">
              <p>100% on blockchain</p>
              <p>Multi-signature technology</p>
              <p>Advanced privacy protection</p>
              <p>2-factor authentication</p>
              <p>Anti-phishing protection</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <img src="./img/macbook.png" class="contentWrapper-img" alt="laptop-image">
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <a href="{{ TemplatePathPrefix }}/wallet"><button class="button button--xl">Try BitGo Enterprise</button></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>Learn More</h1>
        </div>

        <div class="row">
          <form name="applyform">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="name" class="inputText-input" placeholder="Name" ng-model="userInfo.name" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="company" class="inputText-input" placeholder="Company" ng-model="userInfo.company" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="industry" class="inputText-input" placeholder="Industry" ng-model="userInfo.industry" />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow" ng-class="{ 'formRow--error': emailError }">
                  <p class="notice" ng-show="emailError">Invalid email address</p>
                  <div class="inputText">
                    <input type="email" name="email" class="inputText-input" placeholder="Email Address" ng-model="userInfo.email" bg-input-validator />
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="formRow">
                  <div class="inputText">
                    <input type="text" name="text" class="inputText-input" placeholder="Phone" ng-model="userInfo.phone" />
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-md-offset-3 hidden-xs hidden-sm">
              <button type="submit" ng-click="onSubmitForm()" class="button u-pullRight">Get In Touch</button>
            </div>
            <div class="col-md-6 col-md-offset-3 hidden-lg hidden-md">
              <button type="submit" ng-click="onSubmitForm()" class="button">Get In Touch</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </section>

</div>
