<div>
  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>BitGo Bitcoin Loss Protection and Procedures</h1>
            <h2>Last updated: May 12, 2015</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row u-marginTop30">
          <div class="whitePaper-text">
            By choosing BitGo, you have chosen a company that has had its technology and procedures reviewed by one of the premier insurance companies in the world, XL Group, a global insurance company operating in approximately 160 countries with total assets of over $45 billion with an A+ rating (S&P). <sup>1</sup>Through the XL Group, BitGo has eamed insurance coverage (the "policy") unique in its scope and coverage for a bitcoin company.
          </div>
          <div class="whitePaper-text">
            The policy ensures that BitGo will be more secure, resilient, and financially stable should adversity strike. It includes coverage for liability from technology and professional services, privacy and cyber security, and data breach. The policy extends to BitGo's acts, errors, omissions, neglect, negligent misrepresentations or breach of duty, the failure of technology products to perform their intended function, and the failure of technology services, professional services or technology products to meet any applicable legal standard concerning quality, or safety.
          </div>
        </div>

        <div class="row u-marginTop30">
          <h3 class="u-textLeft">Bitcoin Theft</h3>
          <div class="whitePaper-text">
            In addition to the broad coverage described above, the policy also covers theft of bitcoin from BitGo wallets held by our customers that pay monthly service fees. Up to $250,000 in bitcoin value is covered without any additional monthly fees. Customers wishing the policy to apply to a greater amount of bitcoin can pay a monthly fee equal to 1% of the value of their bitcoin and have all their bitcoins eligible to be covered by the policy, subject to the overall limits of the policy.
          </div>
          <div class="whitePaper-text">
            If, despite our security measures, your bitcoin are stolen:
            <ul>
              <li>
                You will need to send a written demand to <a href="mailto:claims@bitgo.com">claims@bitgo.com</a>  alleging a theft, and stating the fair market value of bitcoins that was lost as a direct result of a failure of our security technology.
              </li>
                You will need to cooperate fully with us and/or the insurer in the investigation.
              <li>
                The theft and your demand must occur during the policy period.
              </li>
            </ul>
          </div>
          <div class="whitePaper-text">
            By "theft", we mean the unlawful taking of bitcoins by electronic means. Only thefts that that result from a failure of our security technology are covered. In addition to hackers worldwide that try to hack into BitGo and breach our security, our policy also covers theft by rouge employees whose actions were dishonest, intentional or knowing wrongful, fraudulent, criminal or malicious. The policy covers other kinds of losses, physical theft, and risks. However, the innovative feature is that it treats paying customers as "loss payees” if a thief unlawfully takes bitcoins by electronic means.
          </div>
          <div class="whitePaper-text">
            Once we receive your written demand, we will investigate. Unlike most policies, BitGo is not required to hand over the investigation to the insurer in cases of theft from wallets. If BitGo confirms that the theft due to the failure of BitGo’s technology, and the insurer consents (which consent it cannot withhold unreasonably), then the policy requires the insurer to reimburse the full fair market value of the bitcoin lost. However, BitGo reserves its right to reduce such payment by an amount up to $25,000 per incident to offset its costs of settling claims and administering the BitGo loss protection program. A single incident may affect one or many wallets, as determined under the provisions of the policy.
          </div>
          <div class="whitePaper-text">
            Cumulative losses are limited to the annual limit under the Insurance Policy. The initial limit under the Insurance Policy is $10,000,000 annually and includes all coverage grants.
          </div>
        </div>
        <div class="row u-marginTop30">
          <div class="whitePaper-text">
            <i><sup>1</sup>As of 12/31/14. For the most up to date ratings on XL Group, go to <a href="http://xlgroup.com/about-xl/ratings" target="_blank">http://xlgroup.com/about-xl/ratings</a>. The policy is issued by the Indian Harbor Insurance Company, a member of XL Group.</i>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
