<div>
  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Join Us @ BitGo</h1>
            <h2>Help us secure the world’s bitcoin and transform the future of digital money.</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper" jobs-manager>
        <div class="u-alignLeft" bg-state-manager>
          <ng-include src="jobTemplateSource"></ng-include>
        </div>
      </div>
    </div>
  </section>
</div>
