<div>

  <div class="hero hero-landing">
    <div class="contentWrapper">
      <div class="row">

        <div class="col-sm-12 col-md-12 col-lg-12">
          <h1>Securing the World’s Bitcoin</h1>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
          <h2>We secure Bitcoin products and services around the globe.</h2>
          <a href="{{ TemplatePathPrefix }}/wallet"><button class="button m-button--xl">Create a wallet</button></a>
        </div>

      </div>
    </div>
  </div>

  <div class="contentSection">
    <div class="contentWrapper">
      <div class="row">

        <div class="col-sm-12 col-md-4 col-lg-4">
          <a href="{{ TemplatePathPrefix }}/wallet">
            <span class="cta cta--xl">For Individuals</span>
          </a>
          <p>
            Secure your bitcoin holdings for free with the world’s most trusted multi-sig wallet.
          </p>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <a href="{{ TemplatePathPrefix }}/enterprise">
            <span class="cta cta--xl">For Businesses</span>
          </a>
          <p>
            Secure your corporate holdings with BitGo Enterprise, the leading web-based, multi-sig institutional wallet.
          </p>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4">
          <a href="{{ TemplatePathPrefix }}/platform">
            <span class="cta cta--xl">For Developers</span>
          </a>
          <p>
            Secure your bitcoin applications with a robust set of tools and services that access our core multi-sig platform.
          </p>
        </div>

      </div>
    </div>
  </div>

  <div class="contentSection">
    <div class="contentWrapper contentWrapper--borderedTop">
      <div class="row">
        <h1>Build Your Business <br>on the Right Foundation</h1>
        <div class="col-sm-12 col-md-12 col-lg-12 carouselWrapper">
          <carousel>
            <slide class="carousel" ng-repeat="slide in slides">
              <div class="carouselItem">
                <div class="quote">{{ slide.msg }}</div>
                <div class="quote--attribute">- {{ slide.person }}, {{ slide.position }} {{ slide.company }}</div>
              </div>
            </slide>
          </carousel>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <a href="http://www.bitgoinc.com/case-studies">
            <span class="cta">Read BitGo Case Studies</span>
          </a>
        </div>
      </div>

      </div>
    </div>
  </div>

</div>
