<div>
  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>BitGo Pricing</h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="u-marginTop80">
      <div class="contentWrapper">  
        <div class="row">
          <!-- Plan selection -->
          <ul class="selector row">

            <li class="staticPricingItem selectorPlans">
              <h4 class="selectorPlans-heading u-colorBlue">Basic</h4>
              <div class="borderTopStaticPricing selectorPlans-priceContainer u-marginTop20 u-pushDown35">
                <p class="selectorPlans-price--large">$<span class="selectorPlans-value--large">0</span></p>
                <p class="selectorPlans-price--small">per month</p>
              </div>
              <div class="u-marginTop45 u-marginBottom45">
                <p class="selectorPlans-small"><span class="u-colorBlue">This plan is free</span></p>
                <div class="u-marginTop20">
                  <p class="selectorPlans-body u-typography-3">Unlimited Secure Wallets</p>
                  <p class="selectorPlans-body u-typography-3">Multi-user Permissions</p>
                  <p class="selectorPlans-body u-typography-3">Spending Limits</p>
                </div>
              </div>
              <div class="u-alignCenter u-marginTop30 u-marginBottom10">
                <a href="{{ TemplatePathPrefix }}/wallet">
                  <button class="button buttonSubmit">
                    <span>Sign Up</span>
                  </button>
                </a>
              </div>
            </li>

            <li class="staticPricingItem selectorPlans">
              <h4 class="selectorPlans-heading u-colorBlue">Plus</h4>
              <div class="borderTopStaticPricing selectorPlans-priceContainer u-marginTop20">
                <p class="selectorPlans-price--large">$<span class="selectorPlans-value--large">10</span></p>
                <p class="selectorPlans-price--small">per month</p>
              </div>
              <div class="u-marginTop45 u-marginBottom45">
                <p class="selectorPlans-small"><span class="u-colorBlue">Everything in Basic, and:</span></p>
                <div class="u-marginTop20">
                  <p class="selectorPlans-body u-typography-3">Insurance-backed up to $10k*</p>
                  <p class="selectorPlans-body u-typography-3">Monthly Statements</p>
                  <p class="selectorPlans-body u-typography-3">Address Whitelisting</p>
                </div>
              </div>
              <div class="u-alignCenter u-marginTop30 u-marginBottom10">
                <a href="{{ TemplatePathPrefix }}/wallet">
                  <button class="button buttonSubmit">
                    <span>Sign Up</span>
                  </button>
                </a>
              </div>
            </li>

            <li class="staticPricingItem selectorPlans">
              <h4 class="selectorPlans-heading u-colorBlue">Pro</h4>
              <div class="borderTopStaticPricing selectorPlans-priceContainer u-marginTop20">
                <p class="selectorPlans-price--large">$<span class="selectorPlans-value--large">30</span></p>
                <p class="selectorPlans-price--small">per month</p>
              </div>
              <div class="u-marginTop45 u-marginBottom45">
                <p class="selectorPlans-small"><span class="u-colorBlue">Everything in Plus, and:</span></p>
                <div class="u-marginTop20">
                  <p class="selectorPlans-body u-typography-3">Insurance-backed up to $250k*</p>
                  <p class="selectorPlans-body u-typography-3">View Only Users</p>
                  <p class="selectorPlans-body u-typography-3">Security Audit Log</p>
                </div>
              </div>
              <div class="u-alignCenter u-marginTop30 u-marginBottom10">
                <a href="{{ TemplatePathPrefix }}/wallet">
                  <button class="button buttonSubmit">
                    <span>Sign Up</span>
                  </button>
                </a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>
  <!--
  <div class="contentWrapper">
    <div class="row">
      <h1>Pricing to suit your needs</h1>
      <h2>BitGo is free to use with unlimited shared wallets and spending limits. Signup Now!</h2>
    </div>
  </div>
  -->
  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h2 class="u-noMargin">Learn More</h2>
          <p>Read about our <a href="http://bitgo.com/insurance">Insurance policy</a> or our <a target="_blank" href="https://bitgo.zendesk.com/hc/en-us/sections/201084635-Billing">Billing FAQ</a>.</p>
        </div>

      </div>
    </div>
  </section>
</div>
