<title>BitGo Rewards FAQ</title>

<div class="container col col--oneOfTwo col--centered">

  <h1 class="text-center">BitGo Rewards Program <abbr title="Frequently Asked Questions">FAQ</abbr></h1>
  
  <ul class="u-typography-4">
    <li>
      <h3><a class="anchor" name="what-is-bitgo-rewards" href="#what-is-bitgo-rewards">What is a BitGo Rewards?</a></h3>
      <p>BitGo Rewards is a great way to get your friends using Bitcoin and an easy way for BitGo to reward you for spreading the word!</p>
    </li>
    <li>
      <h3><a class="anchor" name="my-friends-don't-understand-bitcoin" href="#my-friends-don't-understand-bitcoin">My friends don’t understand Bitcoin so how can I convince them to create a BitGo wallet?</a></h3>
      <p>BitGo makes it easy for you to spread the word, so we are giving you $5 of Bitcoin to share with your friends to get them started. When your friends sign-up, we’ll even give you a matching amount of Bitcoin as our way of saying thanks!</p>
    </li>
    <li>
      <h3><a class="anchor" name="how-will-my-friend-know-they-have-a-bitgo-wallet-invite" href="#how-will-my-friend-know-they-have-a-bitgo-wallet-invite">How will my friend know they have a BitGo wallet invite waiting for them?</a></h3>
      <p>Your friend will receive an email from BitGo letting them know that you’ve given them their very first Bitcoin! They can click on the link within the email and begin setting up their BitGo wallet.</p>
    </li>
    <li>
      <h3><a class="anchor" name="how-do-i-sign-up-for-a-bitgo-rewards-wallet" href="#how-do-i-sign-up-for-a-bitgo-rewards-wallet">How do I sign up for a BitGo Rewards?</a></h3>
      <p>Signing up for BitGo Rewards is easy. Simply click the BitGo Rewards link located in your BitGo wallet dashboard. Follow the prompts to set up your Rewards wallet. Be sure to designate an existing wallet or set up a new wallet so BitGo can send you your Rewards when your friends create their first BitGo wallet.</p>
    </li>
    <li>
      <h3><a class="anchor" name="hom-much-bitcoin-will-i-be-rewarded" href="#hom-much-bitcoin-will-i-be-rewarded">How much Bitcoin will I be rewarded for each friend that creates a BitGo wallet?</a></h3>
      <p>When you join BitGo Rewards, BitGo will put 0.02BTC into your BitGo Rewards Wallet.  You can use that to invite as many friends as you wish, and you pick how much reward to send them with their invitation.  The minimum invite reward is 0.0005BTC.  Please note that BitGo may change these amounts at any time.</p>
    <li>
      <h3><a class="anchor" name="can-i-invite-anyone-to-create-a-bitgo-rewards-wallet" href="#can-i-invite-anyone-to-create-a-bitgo-rewards-wallet">Can I invite anyone to create a BitGo Reward Wallet?</a></h3>
      <p>You can invite anyone who does not already have an existing BitGo account to create a BitGo Rewards Wallet.</p>
    </li>
    <li>
      <h3><a class="anchor" name="how-and-when-will-i-be-rewarded-for-inviting" href="#how-and-when-will-i-be-rewarded-for-inviting">How and when will I be rewarded for inviting a friend to create a BitGo Rewards Wallet?</a></h3>
      <p>As soon as you send a Rewards Wallet invite, an email will be sent to your friend letting them know they have been invited to create a BitGo wallet and earn Bitcoin! Once your friend verifies their account and creates their BitGo wallet, you will receive your Bitcoin reward in the wallet you designated as your Reward Wallet during the initial Reward Wallet set up.</p>
    </li>
    <li>
      <h3><a class="anchor" name="why-does-bitgo-need-to-verify-my-identity" href="#why-does-bitgo-need-to-verify-my-identity">Why does BitGo need to ‘verify’ my identity and my friend’s identity before I can send invite and before my friend can receive their Bitcoin?</a></h3>
      <p>BitGo needs to be sure that we take every measure possible to prevent fraudulent activity. We use a third party service to verify that the people participating in our BitGo Rewards Wallet program are who they say they are and not participating in any illegal activity for financial gain. As a security company, we take your privacy and identity very seriously. Your information will never be shared with anyone outside of BitGo and the third party service we use to perform the verification.</p>
    </li>
    <li>
      <h3><a class="anchor" name="what-if-two-people-invite-the-same-friend" href="#what-if-two-people-invite-the-same-friend">What if two people invite the same friend to create a BitGo Rewards Wallet?</a></h3>
      <p>Each invite email sent is linked to the person sending the invite. In the event two people should send the same person an invite, the person rewarded by BitGo will be matched to the link the friend clicks to create their first BitGo wallet.</p>
    </li>
  </ul>
</div>
