<div>

  <section>
    <div class="hero">
      <div class="contentWrapper">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>BitGo Security</h1>
            <h2>Technology that removes the single point of failure</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper">
        <div class="row">
          <h1>A Quantum Leap Forward in Security</h1>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Fully Multi-Sig</h3>
              <p>Multi-sig technology secures your holdings; protecting against malware and loss.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Complete Control</h3>
              <p>Retain full custody of your Bitcoin with fully segregated and on-blockchain wallets.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Restricted Roles</h3>
              <p>BitGo is the only wallet with multi-user support and fine-grained access controls.</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">2-Step Verification</h3>
              <p>BitGo requires 2-Step Verification code when logging in, and again when sending funds.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">No Key Access</h3>
              <p>With your keys encrypted/decrypted on the client; not even BitGo cannot access your funds.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>We Can't Access Your Keys</h1>
        </div>

        <div class="row u-marginBottom50">
          <div class="hidden-sm col-md-3 col-lg-3">
            icon?
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
            <h3 class="u-textLeft">All BitGo server-side key generation and signing occurs only inside an isolated, highly-secure machine called the Key Server.</h3>
          </div>
        </div>

        <div class="row u-marginBottom50">
          <div class="hidden-sm col-md-3 col-lg-3">
            icon?
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
            <h3 class="u-textLeft">The Key Server requires multiple BitGo employees using personally controlled hardware-embedded keys to reconstruct its master encryption key.</h3>
          </div>
        </div>

        <div class="row">
          <div class="hidden-sm col-md-3 col-lg-3">
            icon?
          </div>
          <div class="col-sm-12 col-md-9 col-lg-9">
            <h3 class="u-textLeft">No unencrypted keys can ever leave the Key Server. No single BitGo employee has the ability to decrypt BitGo keys.</h3>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>Keep Insiders Outside</h1>
          <h2>The vast majority of Bitcoin hacks and heists have been inside jobs.</h2>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Require Approval</h3>
              <p>Require multiple approvals before sending transactions.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Control Spending</h3>
              <p>Limit exposure by setting per-user spending limits.</p>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="u-bordered u-textCenter">
              <h3 class="u-textBlue">Limit Access</h3>
              <p>Prevent any single user from accessing your funds.</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section>
    <div class="contentSection">
      <div class="contentWrapper contentWrapper--borderedTop">
        <div class="row">
          <h1>Our General Security Practices</h1>
        </div>

        <div class="row u-marginBottom50">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="u-textLeft">Company</h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- Employees are required to encrypt their hard drives, use strong passwords and enable screen locking.</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- BitGo performs criminal background checks on all employees at time of hiring.</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- No single BitGo employee has access to any keys.</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- Operational keys secured in bank vaults.</h3>
          </div>
        </div>

        <div class="row u-marginBottom50">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="u-textLeft">Product</h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- Rate-limiting in the login and 2-Step Verification APIs to prevent brute-force attacks.</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- Outside security firms perform regular security audits of code and infrastructure.</h3>
          </div>
        </div>

        <div class="row u-marginBottom50">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h2 class="u-textLeft">Operational</h2>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- 100% lockout; 24x7.</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- Separation of duties for writing and pushing code.</h3>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3 class="u-textLeft u-indent30">- Split and vaulted storage of critical key material.</h3>
          </div>
        </div>

      </div>
    </div>
  </section>

  <footer class="siteFooter" >
    <div class="contentWrapper">

      <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
          <div class="row">
            <a href="#">
              <img class="siteFooter--logo" src="/img/new_bitgo/logo.png" alt="BitGo" title="BitGo">
            </a>
          </div>
        </div>

        <div class="col-sm-12 col-md-10 col-lg-10">

          <div class="row">
            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="siteFooter-Title">Products</div>
              <ul class="siteFooter-NavList">
                <li class="siteFooter-NavItem"><a href="{{ TemplatePathPrefix }}/enterprise">BitGo Enterprise</a></li>
                <li class="siteFooter-NavItem"><a href="{{ TemplatePathPrefix }}/platform">BitGo Platform</a></li>
                <li class="siteFooter-NavItem"><a href="{{ TemplatePathPrefix }}/login">Web Wallet</a></li>
                <li class="siteFooter-NavItem"><a href="https://chrome.google.com/webstore/detail/bitgo/jlgeogaipkoajobchncghcojanffjfhl">Chrome App</a></li>
              </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="siteFooter-Title">Company</div>
              <ul class="siteFooter-NavList">
                <li class="siteFooter-NavItem"><a href="">About</a></li>
                <li class="siteFooter-NavItem"><a href="">Careers</a></li>
                <li class="siteFooter-NavItem"><a href="">Legal</a></li>
                <li class="siteFooter-NavItem"><a href="">Press</a></li>
              </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="siteFooter-Title">Resources</div>
              <ul class="siteFooter-NavList">
                <li class="siteFooter-NavItem"><a href="">Support</a></li>
                <li class="siteFooter-NavItem"><a href="">Documentation</a></li>
                <li class="siteFooter-NavItem"><a href="">API</a></li>
              </ul>
            </div>

            <div class="col-sm-12 col-md-3 col-lg-3">
              <div class="siteFooter-Title">News</div>
              <ul class="siteFooter-NavList">
                <li class="siteFooter-NavItem"><a href="">Blog</a></li>
                <li class="siteFooter-NavItem"><a href="">Twitter</a></li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </footer>

</div>
