<div activity-approvals>
  <table ng-show="enterpriseApprovalsExist" class="activityTable">
    <thead>
      <tr>
        <th class="activityTable-events">Event</th>
        <th></th>
        <th>Wallet</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr bg-dynamic-table-row-manager enterprise-approval-tile ng-repeat="(approvalId, approvalItem) in enterprises.current.pendingApprovals" bg-state-manager id="{{ approvalId }}"></tr>
    </tbody>
  </table>

  <div class="meta" ng-show="noApprovalsExist">
    <h2>There is nothing to approve right now.</h2>
    <p class="u-typography-4">Approvals help protect your bitcoin. Configure policies and approvers within each wallet.</p>
  </div>
</div>
