<div enterprise-create-steps-support class="row">
  <div class="col col--eightOfTwelve">
    <h2>Select a support plan</h2>
    <p class="u-typography-3 u-colorGreyDark u-marginBottom60">
      All organizations using the BitGo platform receive our basic level of support and are backed by insurance. BitGo is pleased to offer several tiers of comprehensive support.
    </p>
    <div class="u-marginBottom40">
      <div class="inputRadio">
        <input type="radio" name="radioGroupCoin" ng-model="selectedPlanId" value="{{plans.OrgBasicMonthly.planId}}" id="{{plans.OrgBasicMonthly.prettyName}}" ng-disabled="disableOptions">
        <label for="{{plans.OrgBasicMonthly.prettyName}}"> &nbsp;
          <div class="supportPlansBox plansBox u-clearfix">
            <div class="supportPlansHeading">
              <div class="supportPlansPrice">
                <span>$</span>{{plans.OrgBasicMonthly.cost}}
              </div>
              <div class="supportPlansTitle">
                {{plans.OrgBasicMonthly.prettyName}}
              </div>
            </div>
            <div class="supportPlansDescription col-xss-12 col-xs-12 col-sm-9 col--noPadding u-clearfix">
              Help center support and insurance coverage for all wallets on the organization.
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="u-marginBottom40">
      <div class="inputRadio">
        <input type="radio" name="radioGroupCoin" ng-model="selectedPlanId" value="{{plans.OrgProMonthly.planId}}" id="{{plans.OrgProMonthly.prettyName}}" ng-disabled="disableOptions">
        <label for="{{plans.OrgProMonthly.prettyName}}"> &nbsp;
          <div class="supportPlansBox plansBox u-clearfix">
            <div class="supportPlansHeading">
              <div class="supportPlansPrice">
                ${{plans.OrgProMonthly.cost}}
              </div>
              <div class="supportPlansTitle">
                {{plans.OrgProMonthly.prettyName}}
              </div>
            </div>
            <div class="supportPlansDescription col-xss-12 col-xs-12 col-sm-9 col--noPadding u-clearfix">
              Entry paid tier under service level agreement for all wallets within the organization.
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="u-marginBottom40">
      <div class="inputRadio">
        <input type="radio" name="radioGroupCoin" id="{{plans.OrgBusinessMonthly.prettyName}}" ng-model="selectedPlanId" value="{{plans.OrgBusinessMonthly.planId}}" ng-disabled="disableOptions">
        <label for="{{plans.OrgBusinessMonthly.prettyName}}"> &nbsp; 
          <div class="supportPlansBox plansBox u-clearfix">
            <div class="supportPlansHeading">
              <div class="supportPlansPrice">
                ${{plans.OrgBusinessMonthly.cost}}
              </div>
              <div class="supportPlansTitle">
                {{plans.OrgBusinessMonthly.prettyName}}
              </div>
            </div>
            <div class="supportPlansDescription col-xss-12 col-xs-12 col-sm-9 col--noPadding u-clearfix">
              For organizations that require higher request rates and priority support.
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="u-marginBottom40">
      <div class="inputRadio">
        <input type="radio" name="radioGroupCoin" id="{{plans.OrgBusinessPlusMonthly.prettyName}}" ng-model="selectedPlanId" value="{{plans.OrgBusinessPlusMonthly.planId}}" ng-disabled="disableOptions">
        <label for="{{plans.OrgBusinessPlusMonthly.prettyName}}"> &nbsp; 
          <div class="supportPlansBox plansBox u-clearfix">
            <div class="supportPlansHeading">
              <div class="supportPlansPrice">
                ${{plans.OrgBusinessPlusMonthly.cost}}
              </div>
              <div class="supportPlansTitle">
                {{plans.OrgBusinessPlusMonthly.prettyName}}
              </div>
            </div>
            <div class="supportPlansDescription col-xss-12 col-xs-12 col-sm-9 col--noPadding u-clearfix">
              For organizations that require support through a dedicated account manager.
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="u-marginBottom40">
      <div class="inputRadio">
        <input type="radio" name="radioGroupCoin" id="{{plans.custom.prettyName}}" ng-model="selectedPlanId" value="{{plans.custom.planId}}" ng-disabled="disableOptions">
        <label for="{{plans.custom.prettyName}}"> &nbsp; 
          <div class="supportPlansBox plansBox u-clearfix">
            <div class="supportPlansHeading">
              <div class="supportPlansCustom">
                custom
              </div>
            </div>
            <div class="supportPlansDescription col-xss-12 col-xs-12 col-sm-9 col--noPadding u-clearfix">
              For large organizations with custom integrations.
            </div>
          </div>
        </label>
      </div>
    </div>
    <div class="u-marginTop40">
      <button class="button" type="submit" name="advanceSupport" ng-click="advanceSupport()">Next</button>
      <a class="button button--grey" ng-click="goBack()">Back</a>
    </div>
  </div>
  <div class="col col--fourOfTwelve col--pullRight">
    <div class="sideInfoBox">

      <div class="sideBarContainer-row">
        <h2 class="sideBarContainer-heading">More Information</h2>
      </div>
      <div class="sideInfoContent">
        <p>
          BitGo offers guarantees on uptime % to all paid tiers through our <a href="{{templatePrefix}}/sla" target="_blank">SLA</a>            
        </p>
        <p>
          For more details about our support plans, click <a href="{{templatePrefix}}/api-pricing" target="_blank">here</a>            
        </p>
      </div>
    </div>
  </div>
</div>
