<section class="masthead">
  <div class="contentWrapper" bg-state-manager>
  	<div class="row">
      <div class="col">
        <h1 class="masthead-heading masthead-heading--fullLength">{{ enterprises.current.name }} settings</h1>
      </div>
    </div>
    <div class="row">
      <div class="col col--oneOfTwo col-noPadding">
        <nav>
          <ul class="sectionNav">
            <li class="sectionNav-item"><a ng-click="setState('organization')" class="sectionNav-link" ng-class="{ 'is-selected': showState('organization') }">Organization</a></li>
            <li class="sectionNav-item"><a ng-click="setState('users');" class="sectionNav-link" ng-class="{ 'is-selected': showState('users') }" >Users</a></li>
            <li class="sectionNav-item"><a ng-click="setState('support');" class="sectionNav-link" ng-class="{ 'is-selected': showState('support') }" >Support</a></li>
            <li class="sectionNav-item"><a ng-click="setState('billing');" class="sectionNav-link" ng-class="{ 'is-selected': showState('billing') }" >Billing</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</section>
<main class="mainContent contentWrapper">
  <ng-include src="enterpriseSettingsTemplateSource"></ng-include>
</main>

