<td colspan="2" bg-get-user user-id="{{ approvalItem.creator }}">

  <!-- Show this if the user created the approval -->
  <div ng-show="userIsCreator" class="activityTable-text">
    <span ng-show="addingAddress">
      Your request to add an address to the whitelist is awaiting approval<br>
      Adding <b>{{ addressInQuestion }}</b><br>
    </span>
    <span ng-hide="addingAddress">
      Your request to remove an address from the whitelist is awaiting approval<br>
      Removing <b>{{ addressInQuestion }}</b><br>
    </span>
    <div class="activityTable-timestamp">{{ approvalItem.prettyDate }}</div>
  </div>

  <!-- Show this if someone else created the approval -->
  <div ng-hide="userIsCreator" class="activityTable-text">
    <span ng-show="addingAddress">
      <b>{{ user.settings.email.email }} </b>requested to add an address to the whitelist<br>
      Adding <b>{{ addressInQuestion }}</b><br>
    </span>
    <span ng-hide="addingAddress">
      <b>{{ user.settings.email.email }} </b>requested to remove an address to the whitelist<br>
      Removing <b>{{ addressInQuestion }}</b><br>
    </span>
    <div class="activityTable-timestamp">{{ approvalItem.prettyDate }}</div>
  </div>

</td>
<td class="activityTable-wallet">
  <span bg-get-local-wallet wallet-id="{{ approvalItem.bitcoinAddress }}">{{ label }}</span>
</td>
<td class="activityTable-buttons">
  <div class="buttons" ng-show="userIsCreator">
    <a class="button button--small button--cancel" ng-click="setApprovalState('rejected')">Cancel</a>
  </div>
  <div class="buttons" ng-hide="userIsCreator">
    <span bg-confirm-action>
      <a class="button button--small button--green" ng-hide="confirmationMessage" ng-click="setApprovalState('approved')">Approve</a>
      <a class="button button--small button--reject" ng-hide="confirmationMessage" ng-click="initiateAction()">Reject</a>
      <span ng-show="confirmationMessage">Are you sure?
        <a ng-click="setApprovalState('rejected')">Yes</a> | 
        <a ng-click="cancelAction()">No</a>
      </span>
    </span>
  </div>
</td>
