<div wallet-create-steps-insure class="row">
  <div class="col col--centered">

    <h2 class="u-typography-2">Would You Like Your Bitcoin to be Backed by Insurance?</h2>
    <p class="introText u-colorGreyDark u-marginTop30">Add an additional layer of protection for your Bitcoin. Upgrade to a premium plan to have your wallets backed by <a target="_blank" href="{{ TemplatePathPrefix }}/insurance">insurance</a> from XL Group, a global A-rated insurer. </p>

    <div class="buttons">
      <a class="button" ng-click="goToPlans()">Secure My Funds</a>
      <a class="button button--grey" ng-click="skipPlans()" name="cancel">No Thanks</a>
    </div>
  </div>
</div>
