<div>

  <p class="introText u-typography-3 u-colorGreyDark u-marginBottom45">
    Other administrators on the wallet will receive an email asking them to re-invite you to the wallet,
    which will enable you to recover your key and reset your password.
  </p>

  <form class="row" name="recoverWithReshareForm">
    <fieldset class="col col--oneOfTwo">

      <div class="buttons">
        <button type="submit" class="button" name="recoverWithReshare" ng-click="recoverWithReshare()">Request Re-invite</button>
      </div>

    </fieldset>
  </form>

</div>
