<td colspan="2" class="u-pointer u-wordBreak" ng-show="showState('initial') && userCanEdit(tileItem)" ng-click="toggleActiveTile(tileItem)">
  <a>{{ tileItem.label }}</a>
</td>
<!-- Do not allow viewers to modify labels -->
<td colspan="2" ng-show="showState('initial') && !userCanEdit(tileItem)" class="u-wordBreak">
  <span>{{ tileItem.label }}</span>
</td>

<td colspan="2" ng-show="showState('initial')" class="u-wordBreak">
  <a class="icon icon--qrcode" ng-click="openModal(tileItem.address, tileItem.label)"></a>
  {{ tileItem.address }}
</td>

<td colspan="2" ng-show="showState('labeling')">

  <!-- We have odd html formatting to allow the form to span -->
  <!-- Multiple <td>'s - so the user can click enter to submit the form -->
  <form ng-submit="saveTileItemLabel(tileItem, tileItem.temporaryLabel)">
    <!-- Label Input -->
    <div class="col">
      <div class="formRow" ng-class="{ 'formRow--error': temporaryLabelError }">
        <div class="inputText inputText--tableRow">
          <input type="text" name="temporaryLabel" ng-model="tileItem.temporaryLabel" bg-input-validator class="inputText-input inputText-input--tableRow input-{{ tileItem.index }}" placeholder="Address label" bg-focus-when="true">
        </div>
      </div>
    </div>
  </td>

  <td colspan="2" ng-show="showState('labeling')">
    <!-- Tile Buttons -->
    <div class="col">
      <button type="submit" class="button button--small" ng-click="saveTileItemReceiveLabel(tileItem, tileItem.temporaryLabel)">Save</button>
      <button class="button button--grey button--small" ng-click="cancelTileItemEdit()">Cancel</button>
    </div>
  </form>
</td>

<td class="u-alignRight">
  {{ tileItem.received | bgBitcoinFormat }}
</td>
