<div modal-otp-password-form>

  <!-- OTP Verification Step -->
  <div>
    <h1 ng-hide="isAcceptingShare" class="modal-heading">Authenticate: {{ wallets.current.data.label }}</h1>
    <h1 ng-show="isAcceptingShare" class="modal-heading">Authenticate: {{ locals.walletName }}</h1>
  </div>
  
  <form class="u-noMargin" novalidate>
    <span class="noticeError" ng-show="otpError && otpDeviceSet" >Please enter a valid code</span>
    <div class="formRow" ng-class="{ 'formRow--error': otpError }">
      <div class="inputText" ng-show="otpDeviceSet">
        <input ng-show="userUnlocked" ng-readonly type="text" name="otp" class="u-colorBlueGreyLight inputText-input" ng-model="prettyUnlockTime" bg-focus-when="true" max-length="7" disabled/>
        <div ng-show="userUnlocked" class="otp-verification"><i class="icon icon--checkmark"></i></div>
        <input ng-hide="userUnlocked" type="text" name="otp" class="inputText-input"  placeholder="Enter 2-step verification code" ng-model="form.otp" bg-focus-when="true" max-length="44" />
      </div>
    </div>
    <div ng-show="user.isAuthyUser()">
      <a ng-hide="userUnlocked" class="u-typography-4 u-pullRight" ng-click="resendOTP()">Resend</a>
    </div>
    <div class="u-pushDown35 u-noMargin">
      <span class="noticeError" ng-show="passwordError">Password provided was invalid</span>
      <div class="formRow" ng-class="{ 'formRow--error': passwordError }">
        <div class="inputText">
          <input ng-hide="isAcceptingShare" bg-focus-when="userUnlocked" type="password" name="password" class="inputText-input" placeholder="Enter your wallet password" ng-model="form.password"/>
          <input ng-show="isAcceptingShare" bg-focus-when="userUnlocked" type="password" name="password" class="inputText-input" placeholder="Enter your login password" ng-model="form.password"/>
        </div>
      </div>
      <a class="u-typography-4 u-pullRight" ng-click="forgotPassword()">Forgot Password?</a>

      <div class="buttons">
        <button class="button" ng-click="submitVerification()">Submit</button>
        <button class="button button--grey" ng-click="closeWithError('cancel')">Cancel</button>
      </div>
    </div>
  </form>
</div>
