<td colspan="2" bg-get-user user-id="{{ logItem.user }}">
  <div class="activityTable-text">
    <i class="icon icon--wallet"></i>
    <span ng-show="user.settings.id === currentUser.settings.id">
      <b>You </b>
    </span>
    <span ng-hide="user.settings.id === currentUser.settings.id">
      <b>{{ user.settings.name.full }} </b>
    </span>
    added a {{ logItem.data.update.id | bgPolicyIdStringConversion }} policy to the wallet<br>

    <div bg-activity-tile-policy-description>
      <span ng-show="logItem.isPolicyItem" >
        <!-- spending limits -->
        <span ng-show="showById('com.bitgo.limit.day') || showById('com.bitgo.limit.tx')">
          New amount {{ amountInQuestion | bgBitcoinFormat:'name' }}
        </span>
        <!-- whitelist -->
        <span ng-show="showById('com.bitgo.whitelist.address')">
          New address: {{ addressInQuestion }}
        </span>
      </span>
    </div>

    <div class="activityTable-timestamp">{{ logItem.prettyDate }}</div>
  </div>
</td>
<td class="activityTable-wallet">
  <span bg-get-local-wallet wallet-id="{{ logItem.walletId }}">{{ label }}</span>
</td>
<td class="activityTable-buttons">
  <span ng-show="logItem.data.needsApproval">Required approval</span>
</td>
