<td bg-get-user user-id="{{ logItem.user }}">
  <div class="activityTable-text">
  	<!-- if current user created the enterprise -->
    <span ng-show="user.settings.id === currentUser.settings.id">
      You 
    </span>
    <span ng-hide="user.settings.id === currentUser.settings.id">
      {{ user.settings.email.email }} 
    </span>
    changed the support plan to "{{plans[logItem.data.supportPlan].prettyName}}"
    <div class="activityTable-timestamp">IP Address: {{ logItem.ip }}</div>
    <div class="activityTable-timestamp">{{ logItem.prettyDate }}</div>
  </div>
</td>
