<div class="mainContent contentWrapper">
  <div class="row" bg-state-manager>
    <div class="col col--centered">

      <div ng-show="showState('initial')">
        <h1>Forgot Password</h1>
        <p class="u-typography-3">Enter your email address to receive an email with a reset link</p>

        <form novalidate name="forgotPwForm" forgot-pw-form>

          <bg-form-error></bg-form-error>

          <div class="formRow" ng-class="{ 'formRow--error': emailError }">
            <p class="notice" ng-show="emailError">Invalid email</p>
            <div class="inputText">
              <input type="email" name="email" class="inputText-input" placeholder="Email Address" ng-model="user.settings.email.email" bg-input-validator bg-focus-when="true" />
            </div>
          </div>

          <div class="buttons">
            <button type="submit" class="button" name="submitForgotPw" ng-click="submitForgotPw()">Submit</button>
          </div>
        </form>
      </div>

      <div ng-show="showState('confirmEmail')">
        <p class="u-typography-4 u-pullRight u-pushDown35 u-colorBlueGreyDark"><a ng-click="resendEmail()">Resend email</a></p>
        <h1>Thanks!</h1>
        <p class="u-typography-3">We've just checked our records. If they show that we have an account
          <br> matching {{ user.settings.email.email }}, we'll be sending a password reset email.
        </p>
        <p class="u-typography-3">To reset your password, click on the link in the email.</p>
      </div>
  </div>
</div>
