<div class="mainContent contentWrapper">
  <div class="row">
    <div class="col col--centered">

        <p class="u-typography-4 u-pullRight u-pushDown35 u-colorBlueGreyDark">Don't need a reset? <a href="{{ TemplatePathPrefix }}/login">Log In</a></p>

        <h1>Reset Password</h1>

        <div class="alert alert--notice">
          <p class="alert-text">Important:  If you used the same password with your account and your wallet, you may need to also reset the password on your wallets.</p>
        </div>

        <form novalidate name="resetPasswordForm" reset-password-form>

          <bg-form-error></bg-form-error>

          <div class="formRow" ng-class="{ 'formRow--error': passwordError }">
            <label>New Password</label>
            <i class="formRow-icon icon icon--qmark" popover-trigger="mouseenter" popover-placement="right" popover-template="auth/templates/passwordpopover-partial.html"></i>
            <p class="notice" ng-show="passwordError">Invalid password</p>
            <div class="inputText">
              <input type="password" name="password" class="inputText-input" placeholder="Password" ng-model="form.password" bg-input-validator bg-password-strength="passwordStrength" on-password-change="checkStrength(passwordStrength)" />
            </div>
            <div class="passwordStrength" ng-show="showPasswordStrength()">
              <div class="passwordStrength-indicator">
                <span class="passwordStrength-fill" ng-class="passwordStrength.progress.class"></span>
              </div>
              It would take {{ passwordStrength.crack_time_display }} to crack this password.
            </div>
          </div>

          <div class="formRow" ng-class="{ 'formRow--error': passwordConfirmError }">
            <label>Password Confirm</label>
            <p class="notice" ng-show="passwordConfirmError">Invalid confirmation</p>
            <div class="inputText">
              <input type="password" name="passwordConfirm" class="inputText-input" placeholder="Confirmation" ng-model="form.passwordConfirm" bg-input-validator />
            </div>
          </div>

          <div class="buttons">
            <button type="submit" class="button" name="submitReset" ng-click="submitReset()">Reset</button>
          </div>
        </form>

    </div>
  </div>
</div>
